%h1 [#{@host}] User Activity
%h2 Login: @#{@username}
%ul
  %li
    %strong DateTime:
    #{@time}
  %li
    %strong URL:
    #{@url}
  %li
    %strong Remote IP:
    #{@remote_ip}
  %li
    %strong User Agent:
    #{@user_agent}
